<div class="container">
  <h1>About us</h1>
  <p>Finer Blue venture has been on since 2017. All this while, we have built, maintained and furnished websites with ideas enhanced by innovations. It is our vision to nurture ideas and actions as though they are our own. Thus, at Finer Blue, the story behind the  business, talent, art or thought of our client motivates us to achieve the required goal. We believe, the future holds good for everyone. And we may be able to take you there sooner.
  </p>
</div>
