<%- include("partials/header.ejs") %>



<div class="homeScreenFirstBackgroundImage">



  <div class="homeScreenCover">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!-- <div class="jumbotron" id="jumbotron-home"> -->
    <div class="container home-first-texts" id="introHome">
      <h1 class="display-3" id="homeFirstFont">The Blue Planet Is Breathtaking!</h1>
      <h2 id="homeFirstFontSub">Let us resonate with your new website</h2>

    </div>
    <div class="" id="WebBrand">
      <h2>Your Brand in Web Creation</h2>
    </div>
    <div class="scrollDown"><a class="no-link-color" href="#GetWebsite"><i class="fas fa-angle-double-down"></i></a>
    </div>
  </div>

</div>
<div>
  <div class="whyWebsite" id="GetWebsite">
    <div class="container custom2">
      <h2 id="whyWebsiteH2">Why Own an Awesome Website?</h2>
      <p>The simple reason: Website works!</p>
      <p>You may be anyone from anywhere, if you are doing anything worthwhile, the world ought to know. Don’t you
        think? But you know too well the blue planet ain’t small, and much overwhelming is the number that breathes in
        it. So you need a shout-out. What can do that best? Give it a thought.
      </p>
      <p>You may have a great story to tell. Maybe an art to show. A service to lend. A talent to grow. Go on. Never
        stop with what you are good at. Don’t worry about how you gonna spread the word. Coz we may know exactly what
        you are looking for: An awesome website! It’s gonna be easy. In fact, it’s only gonna be magical as your website
        showcase all of your works to the world.</p>

    </div>

    <!-- About Finer Blue -->
  </div>
  <div class="why-website-wave">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#8A3FFC" fill-opacity="1"
        d="M0,320L34.3,320C68.6,320,137,320,206,288C274.3,256,343,192,411,160C480,128,549,128,617,144C685.7,160,754,192,823,218.7C891.4,245,960,267,1029,250.7C1097.1,235,1166,181,1234,181.3C1302.9,181,1371,235,1406,261.3L1440,288L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
      </path>
    </svg>
  </div>

</div>


<div class="backgroundAboutFinerBlue" id="About">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm col-lg-4 col-md-4" id="aboutFinerBlue">
        <img src="image/Circled-Finer-Blue.png" class="img-thumbnail" alt="Finer Blue Logo" id="logoAboutFinerBlue">
        <h2> About Finer Blue</h2>
      </div>
      <div class="col-md" id="backgroundDescriptionFinerBlue">
        <div class="" id="descriptionFinerBlue">
          <p>Finer Blue venture has been on since 2017. All this while, we have built, maintained and furnished websites
            with ideas enhanced by innovations. It is our vision to nurture ideas and actions as though they are our
            own. Thus, at Finer Blue, the story behind the business, talent, art or thought of our client motivates us
            to achieve the required goal. We believe, the future holds good for everyone. And we may be able to take you
            there sooner.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of About Finer Blue -->

<!-- Why Us Section -->
<div class="outside-why-us">
<div class="container why-us">
  <div class="inside-why-us">
  <div class="why-us-title">
    <h2>Why us</h2>
  </div>
  <div class="why-us-content">
    <p>We love the Blue Planet, and all that it dearly holds. We engage with your work at our personal level, and
      we give our time to it. Before we start working on your website or your blue ideas, we make sure we
      understand and feel what you are looking for. Allow us to lend our service to you, you will soon know we
      mean it for real. Grow with us. <br>Our uniqueness:</p>
    <ul class="list-unstyled mt-3 mb-4">
      <li>1. Price cheaper than you expected.</li>
      <li>2. Fast redressal of Problems.</li>
      <li>3. Our flexible hours of service at your advantage. Nothing like it anywhere.</li>

    </ul>
    <div class="" style="">
      <button type="button" class="btn btn-lg btn-primary" id="getStartedButton"><a href="/Contact">Contact
      Us</a></button>
    </div>
     
  </div>
  
 
  </div>

  </div>

  
</div>
</div>




<!-- Services -->
<div class="homeOurServices" id="homeServices">
  <div class="container">
    <div class="homeOurServicesTitle" id="homeOurServicesTitle">
      <h2>Our Services</h2>

    </div>
    <div class="row"><br>
      <div class="col-md-4">
        <div class="card homeFirstService">
          <div class="card-body">
            <i class="fas fa-laptop-code icon-custom"></i>
            <h3 class="card-title homeServiceTitle">Website Design</h3>
            <p class="card-text">Tell us how you want it, and we will deliver. You give us the idea, we make it come
              into picture. We can build it together. </p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card homeSecondService">
          <div class="card-body">
            <i class="fas fa-campground icon-custom"></i>
            <h3 class="card-title homeServiceTitle">Site Maintenance</h3>
            <p class="card-text">It’s alright to be busy. We can continue running the site for you while you work. </p>

          </div>
        </div>
      </div><br>
      <div class="col-md-4">
        <div class="card homeThirdService">
          <div class="card-body">
            <i class="fas fa-ad icon-custom"></i>
            <h3 class="card-title homeServiceTitle">Ads Management</h3>
            <p class="card-text">Without the presence of advertisement, your site may not be visible to the world. Well,
              our sound knowledge on it can make your website reach your desired audience.</p>

          </div>
        </div>
      </div>

    </div>
    <br><br>
    <a class="btn btn-lg btn-primary" href="/services" role="button">See More</a>
  </div>
</div>
<div class="services-wave">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#8A3FFC" fill-opacity="1"
      d="M0,320L26.7,304C53.3,288,107,256,160,240C213.3,224,267,224,320,234.7C373.3,245,427,267,480,250.7C533.3,235,587,181,640,170.7C693.3,160,747,192,800,181.3C853.3,171,907,117,960,96C1013.3,75,1067,85,1120,106.7C1173.3,128,1227,160,1280,186.7C1333.3,213,1387,235,1413,245.3L1440,256L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z">
    </path>
  </svg></div>
<!-- End of Services -->

<!-- Contact us Section -->

<div class="row justify-content-center" id="homeContact">
  <div class="col-10 col-md-8 col-lg-4">
    <div class="card-deck mb-3 text-center ">
      <div class="card mb-4 shadow-sm home-contact-us">
        <div class="card-header" id="homeHontactusCard">
          <h2 class="my-0 font-weight-normal">Contact Us</h2>
        </div>
        <div class="card-body homeContactUsContent">
          <ul class="list-unstyled mt-3 mb-4">
            <p>C 19-9/Door No. 3002 <br>
              Kishangarh, Vasant Kunj <br>
              New Delhi <br>
              110070 <br>
              <br><br>
              MAILING ADDRESS
              <br>
              contact@finerblue.com</p>
          </ul>

          <br>
          <a class="btn btn-primary" href="/contact" role="button">Send us a Message</a>
        </div>
      </div>

    </div>
  </div>

</div>


<!-- End of Contact us Section -->

<%- include("partials/footer.ejs") %>