<%- include("partials/header.ejs") %>

<div class="container-fluid">

<div class="ourServicesTitle" id="ourServicesTitle">
  <h2>Our Services</h2>
</div>

<div class="row justify-content-center">
    <div class="col-lg-7 col-md-8 col-sm-11">
      <div class="card firstService">
        <div class="card-body">
<div class="row serviceIconCustom">
    <i class="fas fa-laptop-code"></i>
</div>
          <h3 class="card-title serviceTitle">Website Design</h3>
          <p class="card-text">Tell us how you want it, and we will deliver. You give us the idea, we make it come into picture. We can build it together. </p>
          <ul>
            <li>Web Hosting & Domains</li>
            <li>Layout the website working plan</li>
            <li>Website Design</li>
            <li>Launching</li>
          </ul>
        </div>
    </div>
    </div>

<div class="col-lg-7 col-md-8 col-sm-11">
  <div class="card secondService">
    <div class="card-body">
      <div class="row serviceIconCustom">
          <i class="fas fa-campground service-icon-custom"></i>
      </div>

      <h3 class="card-title serviceTitle">Site Maintenance</h3>
      <p class="card-text">It’s alright to be busy. We can continue running the site for you while you work. </p>
<ul>
<li>Content Update</li>
<li>Improvising page design and layout</li>
<li>Website Maintenance and Recovery</li>
<li>Email Accounts Management etc</li>
</ul>
    </div>
</div>
</div>

<div class="col-lg-7 col-md-8 col-sm-11">
  <div class="card thirdService">
    <div class="card-body">
      <div class="row serviceIconCustom">
          <i class="fas fa-ad service-icon-custom"></i>
      </div>

      <h3 class="card-title serviceTitle">Ads Management</h3>
      <p class="card-text">Without the presence of advertisement, your site may not be visible to the world. Well, our sound knowledge on it can make your website reach your desired audience.</p>
      <ul>
        <li>Search Engine Optimization</li>
        <li>Google AdWords Management</li>
        <li>Google My Business</li>
        <li>Google Analytics</li>
      </ul>
    </div>
  </div>
</div>
</div>

</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#8A3FFC" fill-opacity="1" d="M0,256L24,240C48,224,96,192,144,170.7C192,149,240,139,288,160C336,181,384,235,432,229.3C480,224,528,160,576,122.7C624,85,672,75,720,80C768,85,816,107,864,133.3C912,160,960,192,1008,181.3C1056,171,1104,117,1152,112C1200,107,1248,149,1296,186.7C1344,224,1392,256,1416,272L1440,288L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"></path></svg>


<%- include("partials/footer.ejs") %>