<div class="container-fluid">

<div class="ourServicesTitle" id="ourServicesTitle">
  <h2>Our Services</h2>
</div>

<div class="row justify-content-center">
    <div class="col-lg-7 col-md-8 col-sm-11">
      <div class="card firstService">
        <div class="card-body">
<div class="row serviceIconCustom">
    <i class="fas fa-laptop-code"></i>
</div>
          <h3 class="card-title serviceTitle">Website Design</h3>
          <p class="card-text">Tell us how you want it, and we will deliver. You give us the idea, we make it come into picture. We can build it together. </p>
          <ul>
            <li>Web Hosting & Domains</li>
            <li>Layout the website working plan</li>
            <li>Website Design</li>
            <li>Launching</li>
          </ul>
        </div>
    </div>
    </div>

<div class="col-lg-7 col-md-8 col-sm-11">
  <div class="card secondService">
    <div class="card-body">
      <div class="row serviceIconCustom">
          <i class="fas fa-campground service-icon-custom"></i>
      </div>

      <h3 class="card-title serviceTitle">Site Maintenance</h3>
      <p class="card-text">It’s alright to be busy. We can continue running the site for you while you work. </p>
<ul>
<li>Content Update</li>
<li>Improvising page design and layout</li>
<li>Website Maintenance and Recovery</li>
<li>Email Accounts Management etc</li>
</ul>
    </div>
</div>
</div>

<div class="col-lg-7 col-md-8 col-sm-11">
  <div class="card thirdService">
    <div class="card-body">
      <div class="row serviceIconCustom">
          <i class="fas fa-ad service-icon-custom"></i>
      </div>

      <h3 class="card-title serviceTitle">ADS Management</h3>
      <p class="card-text">Without the presence of advertisement, your site may not be visible to the world. Well, our sound knowledge on it can make your website reach your desired audience.</p>
      <ul>
        <li>Search Engine Optimization</li>
        <li>Google AdWords Management</li>
        <li>Google My Business</li>
        <li>Google Analytics</li>
      </ul>
    </div>
  </div>
</div>
</div>

</div>
