<%- include("partials/header.ejs") %>


<div class="row justify-content-center" id="whyUsCard">
  <div class="col-10 col-md-8 col-lg-4">
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header" id="whyUsCardHeader">
      <h2 class="my-0 font-weight-normal">Why Us</h2>
    </div>
    <div class="card-body whyUsContent">
      <p>We love the Blue Planet, and all that it dearly holds. We engage with your work at our personal level, and we give our time to it. Before we start working on your website or your blue ideas, we make sure we understand and feel what you are looking for. Allow us to lend our service to you, you will soon know we mean it for real. Grow with us. <br>Our uniqueness:</p>
      <ul class="list-unstyled mt-3 mb-4">
        <li>1. Price cheaper than you expected.</li>
        <li>2. Fast redressal of Problems.</li>
        <li>3. Our flexible hours of service at your advantage. Nothing like it anywhere.</li>

      </ul>
      <button type="button" class="btn btn-lg btn-block btn-primary" id="getStartedButton"><a href="#Contact">Contact Us</a></button>
    </div>
  </div>

</div>
  </div>

</div>

<%- include("partials/footer.ejs") %>
