@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body{

}

h2{
  font-size: 2.5rem;
}



.navbar-brand{
  padding-right: 0;
  text-align: right;
  position:sticky;
}

}
.custom-toggler .navbar-toggler{
  border-color: black !important;
  font-size: 2rem;
}
.homeScreenFirstBackgroundImage{
  background-image: url(sky.jpg);
  height: 100vh;
  background-size: cover;
}

#homeFirstFont{
  font-size: 3rem !important;
  font-weight:500 !important;
  font-family: 'Raleway', sans-serif;
  color: #2d545e;
}
#homeFirstFontSub{
  font-size: 1.5rem !important;
  font-weight:bold !important;
  font-family: 'Raleway', sans-serif;
  color: #269ccc;
}


#introHome{
  padding-top: 10vh;
  text-align: center;
}

#WebBrand{
  text-align: center;
  padding-top: 9rem;
  font-family: 'Raleway', sans-serif;
}
.scrollDown{
font-size: 3rem;
margin-top: 5rem;
text-align: center;
font-weight:lighter;
}

/* Remove the blue color for links */
a.no-link-color{
  color: inherit;
}
/* End: Remove the blue color for links */

.whyWebsite{
  font-family: 'Roboto', sans-serif;
  color: black;
  padding: 5rem 20rem;
  background-color:#fceed1;
  display: flex;
text-align: center;

}


h2#whyWebsiteH2{
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
  color: #2d545e;
}

#aboutFinerBlue{
  text-align: center;
  padding: 3rem;
  font-family: 'Kaushan Script', cursive;

}
#logoAboutFinerBlue{
  border-radius: 30px;  /* Rounded border */
  width: 30%; /* Set a small width */
}
#logoAboutFinerBlue:hover {
  rgba(0, 140, 186, 45);
}

#descriptionFinerBlue{
  padding:2rem;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;


}
#backgroundDescriptionFinerBlue{
  background-color: #e6dbc9;
  border-radius: 20px;
}

.backgroundAboutFinerBlue{
  background-color: #8cbcd0;
  padding: 2rem;

}
div#backgroundDescriptionFinerBlue{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* WHy Us Section */
#whyUsCard{
  margin: 10px 0;
}
#whyUsCardHeader{
  background-color: #6B7A8F;
  font-family: 'Kaushan Script', cursive;

}
.whyUsContent{
  color:black;
}
#getStartedButton{
  background-color: #e6dbc9;
  color: #6B7A8F;
}
/* Why Us Section ends */

/* Our Services */
.ourServices{
  text-align: center;
  background-color: #8cbcd0;
padding-bottom: 2rem;
}

#ourServicesTitle{
  padding: 3rem 0;
font-family: 'Kaushan Script', cursive;
}
.firstService{
  background-color: #393f4d;
  color: white;
}
.secondService{

}
.thirdService{
background-color: #393f4d;
color: white;

}
div.card{
  box-shadow: 5px 5px 5px #393f4d;
}
.icon-custom{
  font-size: 2rem;
}
.serviceTitle{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}


/* Our Services ends */
/* Contact us */
#contactusCard{
  padding: 3rem 0;
font-family: 'Kaushan Script', cursive;
}

.contactUsContent{
  font-family: 'Roboto', sans-serif;
}
/* End of Contact Us */

/* Footer */
footer{
  text-align: center;

}
.footer{
  background-color: #393f4d;
  padding: 5px;
  color: white;
}
/* End of Footer */

/* Extra small devices (phones, 900px and down) */
@media only screen and (max-width: 900px) {
  #homeFirstFontSub{
    font-size: 1.2rem !important;
    font-weight:lighter !important;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #393f4d;
    opacity: 0.7;
    border-radius: 1.2rem;
    height: 2rem;
    align-items: center;
  }

  .whyWebsite{
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 5rem;
    background-color:#fceed1;
    display: flex;
  text-align: center;

  }

}
