@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;562&display=swap');
body {}

h2 {
    font-size: 2.5rem;
}

.navbar {
    background-color: #5d535e;
}

#navbarTogglerMenu {
    border: 1px solid #9a9eab;
}

.navbar-brand {
    padding-right: 0;
    text-align: right;
    position: sticky;
}

.navbar-brand-text a {
    color: white !important;
    font-size: 25px;
}


}
.custom-toggler .navbar-toggler {
    border-color: black !important;
    font-size: 2rem;
}
.homeScreenFirstBackgroundImage {
    background-image: url("https://cdn.pixabay.com/photo/2015/06/01/00/20/man-792821_960_720.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.home-first-texts h1 {
    font-size: 3rem !important;
    font-weight: 600 !important;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.home-first-texts h2 {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    font-family: 'Raleway', sans-serif;
    color: white;
}
#introHome {
    padding-top: 10vh;
    text-align: center;
}
#WebBrand {
    text-align: center;
    padding-top: 12rem;
    font-family: 'Raleway', sans-serif;
    color: #dfe166;
    font-weight: 400;
}
.scrollDown {
    font-size: 3rem;
    margin-top: 5rem;
    text-align: center;
    font-weight: lighter;
}

/* Remove the blue color for links */
a.no-link-color {
    color: inherit;
}

/* End: Remove the blue color for links */
.whyWebsite {
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 5rem 3rem;
    background-color: #b8d20b;
    ;
    display: flex;
    text-align: center;
}
h2#whyWebsiteH2 {
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    color: #2d545e;
}

.why-website-wave{
    background-color: #b8d20b;
}
#aboutFinerBlue {
    text-align: center;
    padding: 3rem;
    font-family: 'Kaushan Script', cursive;
}
#logoAboutFinerBlue {
    border-radius: 30px;
    /* Rounded border */
    
    width: 30%;
    /* Set a small width */
}
#logoAboutFinerBlue:hover {
    rgba(0,
    140,
    186,
    45);
}
#descriptionFinerBlue {
    padding: 2rem;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
#backgroundDescriptionFinerBlue {
    background-color: #e6dbc9;
    border-radius: 20px;
}
.backgroundAboutFinerBlue {
    background-color: #8A3FFC;
    padding: 2rem;
}
div#backgroundDescriptionFinerBlue {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* WHy Us Section */
.outside-why-us{
    background-color: #8A3FFC;
}
.why-us {
    color:#b8d20b;
    background: url('../image/blob2.svg') no-repeat ;
    background-size: auto ;
    background-position: center;
    
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.inside-why-us{
    padding: 5rem 0;
}
.why-us-title {
   
    text-align: center;
    background-size: contain;
    font-family: 'Kaushan Script', cursive;
}
.why-us-content {
    font-family: 'Raleway', sans-serif ;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
   
}
#getStartedButton {
    margin-top: 4rem;
    background-color: #e6dbc9;
    color: #6B7A8F;
}

/* Why Us Section ends */

/* Our Services */
.homeOurServices {
    text-align: center;
    background-color: #b8d20b;
    padding-bottom: 2rem;
}
#homeOurServicesTitle {
    padding: 3rem 0;
    font-family: 'Kaushan Script', cursive;
}
.homeFirstService {
    margin: 1.2rem;
    background-color: #393f4d;
    color: white;
}
.homeSecondService {
    margin: 1.2rem;
}
.homeThirdService {
    margin: 1.2rem;
    background-color: #393f4d;
    color: white;
}
div.card {
    box-shadow: 5px 5px 5px #393f4d;
}
.icon-custom {
    font-size: 2rem;
}
.homeServiceTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.services-wave{
    background-color: #b8d20b;
}
/* Our Services ends */

/* Contact us */
#homeContact{
    background-color: #8A3FFC;
    color:white;
}
.home-contact-us{
    background-color: #8A3FFC;
}
.homeContactCard {
    background-color: #8A3FFC;
    padding: 3rem;
    border-radius: 20px;
    margin: 2rem;
}
#homeContactusCard {
    padding: 3rem 0;
    font-family: 'Kaushan Script', cursive;
}
.homeContactUsContent {
    font-family: 'Roboto', sans-serif;
}

/* End of Contact Us */

/* Footer */
footer {
    text-align: center;
}
.footer {
    background-color: #8A3FFC;
    padding: 5px;
    color: white;
}

/* End of Footer */

/* Extra small devices (phones, 900px and down) */

/* @media only screen and (max-width: 900px) {
    #homeFirstFontSub {
        font-size: 1.2rem !important;
        font-weight: lighter !important;
        font-family: 'Roboto', sans-serif;
        color: white;
        background-color: #393f4d;
        opacity: 0.7;
        border-radius: 1.2rem;
        height: 2rem;
        align-items: center;
    }
    
    .whyWebsite {
        font-family: 'Roboto', sans-serif;
        color: black;
        padding: 5rem;
        background-color: #fceed1;
        display: flex;
        text-align: center;
    }
} */
*/
/* End of Home Page Styling */

/* Start of Services Page */
#services {
    text-align: center;
}
.boxOurServices {}
#ourServicesTitle {
    color: #8A3FFC;
    text-align: center;
    padding: 3rem 0;
    font-family: 'Kaushan Script', cursive;
}
.firstService {
    justify-content: center;
    margin: 1.2rem;
    background-color: #FF0066;
    color: white;
}
.secondService {
    background-color: #E8DAFF;
    margin: 1.2rem;
}
.thirdService {
    margin: 1.2rem;
    background-color: #FF0066;
    color: white;
}
.serviceTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.serviceIconCustom {
    justify-content: center;
    text-align: center !important;
    font-size: 2rem;
}
.serviceTitle {
    text-align: center;
}

/* End of Services Page */

/* Start of Contact Us Page styling */
.backgroundOfContactForm {
    background-color: #05386B;
    margin-top: 2rem;
    border-radius: 20px 20px 0 0;
}
#leftOfContactForm {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    justify-content: center;
    color: white;
    padding-top: 7rem;
}
#contactForm {
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    margin: 2rem;
}
#contactAddress {
    margin-top: 5rem;
}